@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* Reset -> diminui a interferência dos navegadores */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html{
  /* Essas propriedades são herdadadas pelos elementos do site */
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

body {
  background-color: #121212;
}

.cabecalho {
  height: 320px;
  padding: 56px 24px;
  background: linear-gradient(0deg, #121212, transparent), url("https://images.unsplash.com/photo-1507398941214-572c25f4b1dc?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo {
  font-size: 3.5rem;
}

.descricao {
  font-style: italic;
  font-size: 1.4rem;
}

.btn {
  background-color: transparent;
  color: #FFFFFF;
  border: 4px solid #FFFFFF;
  border-radius: 8px;
  padding: 16px 32px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  margin: 6px 0;
  cursor: pointer;
  /* Pequenas animações ao mudar o valor de uma propriedade */
  transition: background-color .7s;
}

.btn:hover {
  background-color: #FFFFFF;
  color: #121212;
}

.newsletter {
  width: 300px;
  margin: auto;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
}

.newsletter button {
  width: 100%;
}

.cronograma {
  width: 800px;
  margin: 16px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 18px;
}

td, th {
  border: 1px solid #CCCCCC;
  padding: 8px;
}

th {
  text-align: left;
  background-color: #CCCCCC;
  color: #121212;
  border-color: #121212;
}

.contato-whatsapp {
  width: 56px;
  height: 56px;
  background-color: #CCCCCC;
  border-radius: 50%;
  padding: 8px;
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.contato-whatsapp img {
  width: 100%;
}

.contato-whatsapp:hover {
  filter: invert(1);
}
