body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: whitesmoke;
  font-size: 18px;
}

form {
  width: 250px;
  background-color: white;
  padding: 10px;
}

div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90%;
}

div.radio {
  padding: 0px;
  flex-direction: row;
  margin-bottom: 10px;
}
